NODE_ENV=development
PORT=3333

# URLs
SITE_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173

# Better Auth
BETTER_AUTH_SECRET=change-me-in-production
BETTER_AUTH_URL=http://localhost:3333
AUTH_BASE_URL=/api/auth

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/useacolhe?schema=public"
